body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.visibleBtn {
    visibility: visible;
}

.hiddenBtn {
    visibility: hidden;
}

.stats{
    display: flex;
    flex-direction: column;
}

#gameStats {
    display: flex;
    justify-content: space-around;
}

#roundResult{
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#choices {
    display: flex;
    justify-content: space-evenly;
}

#rockBtn {
    background-color: transparent;
    background-image: url("images/rock.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    max-width: 235px;
    max-height: 235px;
    width: 30vw;
    height: 30vh;
}

#paperBtn {
    background-color: transparent;
    background-image: url("images/paper.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    max-width: 235px;
    max-height: 235px;
    width: 30vw;
    height: 30vh;
}

#scissorsBtn {
    background-color: transparent;
    background-image: url("images/scissors.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    max-width: 235px;
    max-height: 235px;
    width: 30vw;
    height: 30vh;
}

#resetBtn{
    max-width: 235px;
    max-height: 235px;
    width: 30vw;
    height: 30vh;
    margin: auto;
}